[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_BASE_URL = "https://shyam11-5oe6.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
